.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: #fafafa;
  }
  
  .left {
    flex: 1;
    padding-right: 50px;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .badge {
    font-size: 1rem;
    padding: 5px 15px;
    border: 1px solid #000;
    border-radius: 25px;
    width: max-content;
    margin-bottom: 20px;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los párrafos */
  }
  
  .description, .goal {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
    margin: 0;
  }
  
  .image {
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    object-fit: cover;
  }
  